/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body {
    background: #343434;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px #000;
}

a {
    color: #fff;
    text-decoration: none;
}

/* MAIN NAV BAR */

.main-nav {
    display: flex;
    background: #292a25;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    border: 3px solid #97928e;
    border-radius: 5px;
    padding: 10px 2%;
}

.menu-icon a {
    font-size: 2em;
}

.menu-icon a:hover {
    color: #e5af29;
}

/* ICONS */

.avatar-item,
.class-item,
.quest-category-item{
    height: 45px;
    width: 45px;
    border: 3px solid #97928e;
    border-radius: 5px;
    background: #356b83;
}

.avatar-item:hover,
.class-item:hover, 
.quest-category-item:hover{
    cursor: pointer;
    border-color: #e5af29;
}

.avatar-portrait {
    height: 200px;
    width: 200px;
    border: 3px solid #97928e;
    border-radius: 5px;
}

/* INPUT */

input {
    font-size: 1.2em;
    background: #2a2927;
    color: #fff;
    border: 3px solid #93928e;
    border-radius: 5px;
    padding: 3px 5px;
}

input:focus {
    border-color: #e5af29;
}

/* BUTTON */

button:hover {
    cursor: pointer;
}

/* AVATARS */
#avatar-ape {
  background: url('../images/avatars/todo_apef_45X45.png')
}

#avatar-dragon {
  background: url('../images/avatars/todo_dragonf_45X45.png')
}

#avatar-elf-f {
  background: url('../images/avatars/todo_f_elff_45X45.png')
}

#avatar-human-f {
  background: url('../images/avatars/todo_f_humanf_45X45.png')
}

#avatar-orc-f {
  background: url('../images/avatars/todo_f_orcf_45X45.png')
}

#avatar-elf-m {
  background: url('../images/avatars/todo_m_elf_45X45.png')
}

#avatar-human-m {
  background: url('../images/avatars/todo_m_humanf_45X45.png')
}

#avatar-orc-m {
  background: url('../images/avatars/todo_m_orcf_45X45.png')
}

#avatar-panda {
  background: url('../images/avatars/todo_pandaf_45X45.png')
}

#avatar-unicorn {
  background: url('../images/avatars/todo_unicornf_45X45.png')
}

/* CLASSES */
#class-mage {
  background: url('../images/classes/mage_45x45.png')
}

#class-rogue {
  background: url('../images/classes/rogue_45x45.png')
}

#class-warrior {
  background: url('../images/classes/warrior_45x45.png')
}


/* FULL WEBSITE SIGN */
/* SIGN UP */
/* ---------------------------------------- */

.full-website-sign {
    width: 100%;
    background: #343434;
    text-transform: uppercase;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

/* SECTION SIGN UP */

.sign {
    background: #4b2e1e;
    border: 3px solid #93928e;
    border-radius: 5px;
    width: 95%;
    max-width: 500px;
    margin: auto;
}

.tabs-sign-up {
    display: flex;
    border-bottom: 3px solid #93928e;
}

.sign-title {
    width: 50%;
    padding: 10px;
}

.tabs-sign-up .sign-up-title {
    border-right: 3px solid #93928e;
    background: #5d1111;
}

.tabs-sign-up .sign-up-title a {
    color: #e5af29;
}

.tabs-sign-up .sign-up-title a:hover {
    color: #fff;
}

.tabs-sign-up .sign-in-title a:hover {
    color: #e5af29;
}

.sign-input {
    margin: 0 0 20px 0;
}

.sign-input form {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
}

.sign-input input {
    margin: 8px 0 0 0;
}

.content-sign {
    padding: 60px 15%;
}

.sign-btn {
    display: block;
    color: #fff;
    background: #5d1111;
    border: 3px solid #93928e;
    border-radius: 5px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 30px auto 0 auto;
    font-weight: 800;
}

.sign-btn:hover {
    cursor: pointer;
    color: #e5af29;
}

/* SIGN IN */
/* ---------------------------------------- */

.tabs-sign-in {
    display: flex;
    border-bottom: 3px solid #93928e;
}

.tabs-sign-in .sign-up-title {
    border-right: 3px solid #93928e;
}

.tabs-sign-in .sign-in-title {
    background: #5d1111;
}

.tabs-sign-in .sign-in-title a {
    color: #e5af29;
}

.tabs-sign-in .sign-up-title a:hover {
    color: #e5af29;
}

.tabs-sign-in .sign-in-title a:hover {
    color: #fff;
}


/* CREATE CHARACTER */
/* ---------------------------------------- */

.content-character {
    width: 50%;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 100px 10px 10px 10px;
    text-shadow: 2px 2px #000;
}

.content-character h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.class-choice h2 {
  margin-bottom: 7px;
}

.class-choice .class-item {
  margin: 10px 0;
}

.avatar-portrait {
    margin: 20px auto 40px auto;
}

.avatar-portrait img {
    width: 100%;
    height: 100%;
}

.class-choice {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.avatar-choice {
  display: flex;
  width: 100px;
  align-items: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-character .avatar-item {
  width: 45px;
}

.pseudo-user input {
    width: 200px;
    display: block;
    margin: auto;
}

.character-creation-btns {
    margin: 30px 0 0 0;
}

.character-creation-btns button {
    border: 3px solid #93928e;
    border-radius: 5px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 800;
}

.character-creation-btns button:hover {
    color: #fff;
}

.character-btn-back {
    background: #323637;
    color: #908e8f;
}

.character-btn-create {
    background: #5d1111;
    color: #e5af29;
}

/* MAIN PAGE */
/* ---------------------------------------- */

.completed-quests {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    padding-top: 15px;
    text-transform: uppercase;
}

.completed-quests-number {
    font-size: 1em;
    background: #2a2927;
    color: #fff;
    border: 3px solid #93928e;
    border-radius: 5px;
    padding: 15px;
}

.button-add-quest{
    border: 3px solid #93928e;
    border-radius: 5px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 800;
    background: #5d1111;
    color: #e5af29;
}

.quest-category-group{
    margin:0 0 20px 0;
}

.quest-category-title-group{
    display:flex;
    margin: 5px 40px;
}

.quest-category-title{
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 800;
    color: #e5af29;
    border-bottom: 12px solid #93928e;
    margin: 0 0 0 10px;
    width:100%;
}

.content-quest-group{
    display:flex;
    margin: 10px 40px;
}

.quest-check{
    width:32px;
    height:32px;
    background: #2a2927;
    border: 3px solid #93928e;
    border-radius: 50%;
    margin:auto 7px;
}

.quest-check-crossed{
    width: 32px;
    height: 32px;
    background: #2a2927;
    border: 3px solid #93928e;
    border-radius: 50%;
    margin: auto 7px;
    text-align: center;
    color: #e5af29;;
    font-size: 1.4em;
}

.content-quest-title-group{
    border: 3px solid #93928e;
    border-radius: 5px;
    padding: 8px 15px;
    text-transform: uppercase;
    background: #4D2D20;
    color: #e5af29;
    width:100%;
    display:flex;
    justify-content: space-between;
    position:relative;
    height:55px;
}

.content-quest-title{
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
    align-self:center;
}

.content-quest-xp{
    font-size: 1em;
    align-self: flex-end;
    text-transform: uppercase;
    font-weight: 800;
    color:#e5af29;
    align-self:center;
}

.content-quest-done{
    position:absolute;
    z-index: 1;
    background: rgba(52, 52, 52, 0.6);
    width:100%;
    height: 100%;
    top:0.3px;
    left:0.3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ADD QUEST PAGE */
/* ---------------------------------------- */

.content-add-quest-page{
    position: fixed;
    position: absolute;
    background: #343434;
    width:100%;
    height:100%;
    z-index:3;
    top:0;
    display: flex;
    flex-direction: column;
}

.hidden{
    display:none;
}

.popup-close-button{
    width: 50px;
    height: 50px;
    border: 3px solid #93928e;
    border-radius: 50%;
    background: #5d1111;
    color: #e5af29;
    text-align: center;
    font-size: 2.4em;
    align-self: flex-end;
    margin: 10px;
}

.add-quest-input-group{
    width: 90%;
    background: #4D2D20;
    align-self: center;
    height: 80px;
    border:1px solid #93928e;
    border-radius: 5px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top:15px;
}

.choose-category-quest{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-sort-down{
    font-size: 2em;
    margin-top: -14px;
    color: #97928e;
}

.add-quest-content-default-group{
    width: 90%;
    background: #4D2D20;
    align-self: center;
    height: 60px;
    border:1px solid #93928e;
    border-radius: 5px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top:15px;
}

.add-quest-input-group input{
    height: 45px;
    width:100%;
}

.add-quest-input-group form{
    height: 45px;
    width: 65%;
}

.confirm-add-quest a{
    color:#008000;
    font-size: 1.6em;
}

.confirm-add-quest-disable a{
    color:#343434;
    font-size: 1.6em;
}

.content-default-quest{
    text-transform: uppercase; 
    font-size: 1.2em;
    color:#fff;
    align-self: center;
    width:65%;
    padding-left: 10px;
}

.content-default-quest-disable{
    text-transform: uppercase; 
    font-size: 1.2em;
    color:#93928e;
    align-self: center;
    width:65%;
    padding-left: 10px;
}

.content-quest-xp-disable{
    color:#93928e;
    font-size: 1em;
    align-self: flex-end;
    text-transform: uppercase;
    font-weight: 800;
    align-self:center;
}

/* MENU PAGE */
/* ---------------------------------------- */

.content-menu-page{
    position: fixed;
    position: absolute;
    background: #343434;
    width:100%;
    height:100%;
    z-index:4;
    top:0;
}

.menu-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
}

.menu-content{
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background: #292a25;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    border: 3px solid #97928e;
    border-radius: 5px;
    padding: 10px 2%;
    margin: 10px auto;
    height: 100%;
}

.menu-content .avatar-portrait{
    margin-bottom: 10px;
    
}

.user-level{
    text-align: center;
    margin: 20px auto;
    font-size: 1.3em;
}

.user-xp-group{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3em;
    margin-bottom: 30px;
}

.user-xp-bar-placeholder{
    width:70%;
    height: 20px;
    background-color: forestgreen;
    margin-left: -50px;
    border: 3px solid #93928e;
    border-radius: 5px;
}

.change-user-elements{
    margin: 40px auto;
    text-align: center;
}

.change-user-elements div{
    margin-bottom:60px;
    font-size: 1.5em;
}

.lougout-btn {
    color: #93928e;
    background: #292a25;
    border: 3px solid #93928e;
    border-radius: 5px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 1em;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.lougout-btn:hover {
    cursor: pointer;
    color: #5d1111;
}

/* RESPONSIVE < 1024 PX MEDIUM */
/* ---------------------------------------- */
/* ---------------------------------------- */

@media screen and (max-width: 1024px) {
    /* FULL WEBSITE CHARACTER */
    .content-character {
        width: 90%;
    }
}


/* RESPONSIVE < 767 PX TABLETS */
/* ---------------------------------------- */
/* ---------------------------------------- */
@media screen and (max-width: 767px) {
  /* FULL WEBSITE CHARACTER */
  .content-character {
      width: 98%;
  }

  .character-creation-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .character-creation-btns button {
    margin: 5px 0;
  }
}

/* RESPONSIVE < 480 PX MOBILE */
/* ---------------------------------------- */
/* ---------------------------------------- */

@media screen and (max-width: 480px) {
    /* FULL WEBSITE SIGN */
    /* CONTENT SIGN */
    .content-sign {
        padding: 60px 5%;
    }

    /* FULL WEBSITE CHARACTER */
    .content-character {
        width: 98%;
        flex-direction: column;
        padding-top: 30px;
    }

    .avatar-choice {
      width: 100%;
      order: 2;
    }

    .avatar-choice,
    .class-choice {
        flex-direction: row;
        padding: 20px 0;
        border-top: 6px solid #93928e;
    }

    .content-character .avatar-item {
      margin: 5px;
    }

    .character-creation-btns {
        display: flex;
        justify-content: space-between;
    }

    .character-creation-btns .character-btn-create {
      margin-bottom: 20px;
    }
}
