/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
body {
  background: #343434;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px #000;
}

a {
  color: #fff;
  text-decoration: none;
}

/* FULL WEBSITE */
.full-website-sign {
  width: 100%;
  background: #343434;
  text-transform: uppercase;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

/* SECTION SIGN UP */
.sign {
  background: #4b2e1e;
  border: 3px solid #93928e;
  border-radius: 5px;
  width: 95%;
  max-width: 500px;
  margin: auto;
}

.tabs-sign-up {
  display: flex;
  border-bottom: 3px solid #93928e;
}

.sign-title {
  width: 50%;
  padding: 10px;
}

.tabs-sign-up .sign-up-title {
  border-right: 3px solid #93928e;
  background: #5d1111;
}

.tabs-sign-up .sign-up-title a {
  color: #e5af29;
}

.tabs-sign-up .sign-up-title a:hover {
  color: #fff;
}

.tabs-sign-up .sign-in-title a:hover {
  color: #e5af29;
}

.sign-input {
  margin: 0 0 20px 0;
}

.sign-input form {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5em;
  font-weight: 800;
}

.sign-input input {
  font-size: 1.2em;
  background: #2a2927;
  color: #fff;
  border: 3px solid #93928e;
  border-radius: 5px;
  padding: 3px 5px;
  margin: 8px 0 0 0;
}

.sign-input input:focus {
  border-color: #e5af29;
}

.content-sign {
  padding: 60px 15%;
}

.sign-btn {
  display: block;
  color: #fff;
  background: #5d1111;
  border: 3px solid #93928e;
  border-radius: 5px;
  padding: 8px 15px;
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 30px auto 0 auto;
  font-weight: 800;
}

.sign-btn:hover {
  cursor: pointer;
  color: #e5af29;
}


/* RESPONSIVE < 480 PX MOBILE */
@media screen and (max-width: 480px) {
  /* FULL WEBSITE SIGN */
  /* CONTENT SIGN */
  .content-sign {
    padding: 60px 5%;
  }
}
